{% extends "blog/base.html" %}
{% block content %}

    <h1>
        HOME
    </h1>
    <p>
            <div style='text-align:center;'><strong><span class='wiki-size size-up-2'>여러분이 가꾸어 나가는 <span
                            class='wiki-color' style='color:#00a495'>지식의 나무</span></span></strong><br><a
                    class='wiki-link-internal' href='/w/%EB%82%98%EB%AC%B4%EC%9C%84%ED%82%A4' title='나무위키'><span
                        class='wiki-color' style='color:#00a495'>OO위키</span></a>에 오신 것을 환영합니다!<br><br>OO위키는
                누구나 기여할 수 있는 위키입니다.<br>검증되지 않았거나 편향된 내용이 있을 수 있습니다.</div>
        </p>

{% endblock content %}